@page
@{
    ViewData["Title"] = "Garden Camera";
}
@section Scripts
{
    <script src="~/Resources/SignalR/8.0.0/signalr.min.js"></script>
    <script type="text/javascript" src="~/_content/Devices.Web.Solutions/Resources/Scripts/Camera.js" asp-append-version="true"></script>
}
<div class="d-flex flex-column h-100">
    <div class="row">
        <div class="col-3">
            <div class="row justify-content-start align-items-center">
                <div class="col">
                    Device
                </div>
                <div class="col-10">
                    <select id="cmbDevice" class="form-select"></select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row align-items-center h-100">
                <div class="col-md-auto">
                    <label for="cameraPan" class="form-label" style="margin-bottom: unset;">Pan</label>
                </div>
                <div class="col h-100">
                    <input id="cameraPan" type="range" class="w-100 h-100" min="0" max="180" step="1">
                </div>
                <div class="col-1 h-100">
                    <input id="cameraPanValue" type="number" class="form-control degree-control" min="0" max="180" step="1">
                </div>
                <div class="col-2 h-100 d-flex justify-content-center">
                    <button id="btnShutdown" type="button" class="btn btn-outline-dark" title="Shutdown controller" disabled>Shutdown Controller</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-9">
            <div class="w-100 h-100">
                <iframe class="w-100 h-100" src="https://HOST_SBC:8443/camera" scrolling="no"></iframe>
            </div>
        </div>
        <div class="col-1">
            <div class="d-flex flex-column h-100">
                <div class="d-flex justify-content-center">
                    <label for="cameraTilt" class="form-label">Tilt</label>
                </div>
                <div class="d-flex justify-content-center flex-fill pb-3">
                    <input id="cameraTilt" type="range" orient="vertical" min="0" max="180" step="1">
                </div>
                <div class="d-flex justify-content-center">
                    <input id="cameraTiltValue" type="number" class="form-control degree-control" min="0" max="180" step="1">
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="d-flex flex-column h-100">
                <div class="d-flex justify-content-center">
                    <label for="cameraFocus" class="form-label">Focus</label>
                </div>
                <div class="d-flex justify-content-center flex-fill pb-3">
                    <input id="cameraFocus" type="range" orient="vertical" min="0" max="180" step="0.1">
                </div>
                <div class="d-flex justify-content-center">
                    <input id="cameraFocusValue" type="number" class="form-control degree-control" min="0" max="180" step="0.1">
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="d-flex flex-column h-100">
                <div class="d-flex justify-content-center">
                    <label for="cameraZoom" class="form-label">Zoom</label>
                </div>
                <div class="d-flex justify-content-center flex-fill pb-3">
                    <input id="cameraZoom" type="range" orient="vertical" min="1" max="10" step="0.1">
                </div>
                <div class="d-flex justify-content-center">
                    <input id="cameraZoomValue" type="number" class="form-control degree-control" min="1" max="10" step="0.1">
                </div>
            </div>
        </div>
    </div>
</div>
</div>