@page
@{
    ViewData["Title"] = "Camera Notifications";
}
@section Styles
{
    <link rel="stylesheet" href="~/Resources/DataTables/2.0.1/dataTables.dataTables.min.css" />
}
@section Scripts
{
    <script src="~/Resources/DataTables/2.0.1/dataTables.min.js"></script>
    <script type="text/javascript" src="~/_content/Devices.Web.Solutions/Resources/Scripts/Camera.js" asp-append-version="true"></script>
}
<div class="row justify-content-start row-cols-auto align-items-center">
    <div class="col">
        Device
    </div>
    <div class="col-2">
        <select id="cmbDevice" class="form-select">
            <option value="">All</option>
        </select>
    </div>
</div>
<table id="grdData" class="display" width="100%"></table>