@page
@{
    ViewData["Title"] = "Deployments";
}
@section Styles
{
    <link rel="stylesheet" href="~/Resources/DataTables/2.0.1/dataTables.dataTables.min.css" />
}
@section Scripts
{
    <script src="~/Resources/DataTables/2.0.1/dataTables.min.js"></script>
    <script type="text/javascript" src="~/_content/Devices.Web/Resources/Scripts/Deployments.js" asp-append-version="true"></script>
}
<div class="devices-host-toolbar">
    <button id="btnToggleDetails" type="button" class="btn btn-outline-dark" title="Show / hide details column">Show Details</button>
</div>
<table id="grdData" class="display" width="100%"></table>