@page
@{
    ViewData["Title"] = "Releases";
}
@section Styles
{
    <link rel="stylesheet" href="~/Resources/DataTables/2.0.1/dataTables.dataTables.min.css" />
}
@section Scripts
{
    <script src="~/Resources/DataTables/2.0.1/dataTables.min.js"></script>
    <script type="text/javascript" src="~/_content/Devices.Web/Resources/Scripts/Releases.js" asp-append-version="true"></script>
}
<div style="text-align: right;">
    <a role="button" class="btn btn-outline-dark" asp-area="Framework" asp-page="/Release" title="Create new release">New Release</a>
</div>
<table id="grdData" class="display" width="100%"></table>