<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Resources/Bootstrap/5.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Resources/Styles/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Devices.Host.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Devices.Host</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="MyFeature1" asp-page="/Page1">Page 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Garden" asp-page="/Weather">Garden Weather</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Devices.Host
        </div>
    </footer>
    <script src="~/Resources/jQuery/3.6.0/jquery.min.js"></script>
    <script src="~/Resources/Bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/Resources/Scripts/Site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            if (typeof Devices.Host.Site.initContentPage == "function")
                Devices.Host.Site.initContentPage();
        });
    </script>
</body>

</html>