@page
@{
    ViewData["Title"] = "Access Denied";
}
<div>
    <h5 class="text-danger">You are not authorized to view the selected resource.</h5>
    <p>
        <strong>Resource Path:</strong>&nbsp;<span>@(Request.Query["ReturnUrl"])</span>
    </p>
</div>